@import "./styles/index";

body {
  margin: 0;
}


h1, p {
  color: $colorLight;
  font-style: italic;
  text-align: justify;
  padding: 0 5px;
  @include FontTertiary
}

.page {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(13, 0, 14, 0.907);
}
.container {
  color: aliceblue;
  width: 80%;
  border-radius: 30px;
  padding: 20px 0;
  background-color: rgba(99, 98, 100, 0.259);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "title title"
    "par1 par1"
    "formFile formSheet";
    align-items: center;
}
.title {
  grid-area: title;
  justify-self: center;
}
.par1 {
  grid-area: par1;
  justify-self: center;
}
.par2 {
  grid-area: par2;
}
.formFile {
  grid-area: formFile;
  justify-self: center;
  display: grid;
  grid-template-areas: "input" "button";
  & > input {
    grid-area: input;
  }
  & > button {
    grid-area: button;
  }
}
.formSheet {
  grid-area: formSheet;
  justify-self: center;
  display: grid;
  grid-template-areas: "input" "button";
  & > input {
    grid-area: input;
  }
  & > button {
    grid-area: button;
  }
}
.resultPage{
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include styleScrollY;
}
h3 {

}
h4 {
  padding-left: 10px;
}
h6 {
  padding-left: 20px;
}

.org {
  margin-top: 20px;
  align-self: flex-start;
  margin-left: 40px;
  & > h1 {
  }
  & div {
    margin: 10px 0;
  }
}